In [1]:
run = "df_int"

In [2]:
import pandas as pd
import seaborn as sns
from igel import Igel
import numpy as np

In [3]:
def clean_dataset_char(df):
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    df.dropna(inplace=True)
    return df


def clean_dataset_int(df):
    df.fillna(0, inplace=True)
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    df.replace(np.nan,0)
    df = df.replace(r'\D+', '', regex=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)
    #return df

## Overview

This notebook is an attemp to split (a) dataset(s) into train/score

In [4]:
train_df = pd.read_csv("df_int.csv")
score_df = pd.read_csv("before_selection.csv")

#score_df = clean_dataset(score_df)
#train_df = clean_dataset(train_df)

train_df['label'] = '0' #train
score_df['label'] = '1' #score



train_df

     Unnamed: 0      tweet_id  priority  postCategories_x label
0             0  2.115660e+17      0.75              19.0     0
1             1  2.116544e+17      0.50              15.0     0
2             2  2.116813e+17      0.25              15.0     0
3             3  2.116856e+17      0.25              16.0     0
4             4  2.118770e+17      0.25               7.0     0
..          ...           ...       ...               ...   ...
938         938  3.963360e+17      0.25              15.0     0
939         939  3.963361e+17      0.25              15.0     0
940         940  3.963362e+17      0.25              15.0     0
941         941  3.963363e+17      0.25               7.0     0
942         942  3.963364e+17      0.25              15.0     0

[943 rows x 5 columns]

## Concat

In [5]:
concat_df = pd.concat([train_df , score_df])

concat_df

,Unnamed: 0,tweet_id,priority,postCategories_x,label,positive_sentiment,negative_sentiment,numb_of_questions,tweet_length,userFollowersCount,userFriendsCount,user_list_count,dict_precision,dict_recall,dict_f_measure
0,0,2.115660e+17,0.75,19.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2.116544e+17,0.50,15.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.116813e+17,0.25,15.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2.116856e+17,0.25,16.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2.118770e+17,0.25,7.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2944,2944,1.158759e+18,NaN,NaN,1,30.0,650.0,80.0,570.0,5500.0,7200.0,70.0,1.429000e+16,1.111000e+16,1.250000e+02
2945,2945,1.158759e+18,NaN,NaN,1,70.0,470.0,150.0,800.0,1060.0,1240.0,0.0,2.222000e+16,2.222000e+16,2.222000e+16
2946,2946,1.158760e+18,NaN,NaN,1,50.0,370.0,120.0,570.0,2200.0,610.0,30.0,3.333000e+15,2.222000e+16,2.667000e+16
2947,2947,1.158762e+18,NaN,NaN,1,90.0,280.0,80.0,700.0,330.0,0.0,40.0,1.667000e+16,1.111000e+16,1.333000e+16
2948,2948,1.158763e+18,NaN,NaN,1,30.0,190.0,90.0,680.0,15920.0,5230.0,940.0,2.000000e+02,1.111000e+16,1.429000e+16

## Create dummies

In [6]:
#pd.get_dummies

In [7]:
#features_df = pd.get_dummies(data=concat_df, columns=['tweet_id','priority','priority','postCategories_x', 'label',
  #                                               'positive_sentiment', 'negative_sentiment',
    #                                             'numb_of_questions', 'tweet_length', 'userFollowersCount', 'userFriendsCount', 
  # #                                              'user_list_count', 'dict_precision', 'dict_recall', 'dict_f_measure']
     #                                            )

#features_df.transpose()

In [8]:
# Split your data
train_df = concat_df[concat_df['label'] == '0']
score_df = concat_df[concat_df['label'] == '1']

# Drop your labels
train_df = train_df.drop('label', axis=1)
score_df = score_df.drop('label', axis=1)

In [9]:
#train_df.describe()
#score_df.describe()
train_df

,Unnamed: 0,tweet_id,priority,postCategories_x,positive_sentiment,negative_sentiment,numb_of_questions,tweet_length,userFollowersCount,userFriendsCount,user_list_count,dict_precision,dict_recall,dict_f_measure
0,0,2.115660e+17,0.75,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2.116544e+17,0.50,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.116813e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2.116856e+17,0.25,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2.118770e+17,0.25,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,938,3.963360e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,939,3.963361e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,940,3.963362e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,941,3.963363e+17,0.25,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,942,3.963364e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
score_df

,Unnamed: 0,tweet_id,priority,postCategories_x,positive_sentiment,negative_sentiment,numb_of_questions,tweet_length,userFollowersCount,userFriendsCount,user_list_count,dict_precision,dict_recall,dict_f_measure
0,0,1.155485e+18,NaN,NaN,20.0,660.0,150.0,990.0,180.0,420.0,0.0,1.111000e+16,1.111000e+16,1.111000e+16
1,1,1.155487e+18,NaN,NaN,10.0,390.0,520.0,2570.0,77090.0,28140.0,3920.0,0.000000e+00,0.000000e+00,0.000000e+00
2,2,1.155488e+18,NaN,NaN,20.0,630.0,170.0,980.0,5370.0,14860.0,200.0,0.000000e+00,0.000000e+00,0.000000e+00
3,3,1.155494e+18,NaN,NaN,40.0,570.0,630.0,2570.0,2950.0,21450.0,20.0,1.000000e+02,1.111000e+16,1.053000e+16
4,4,1.155495e+18,NaN,NaN,150.0,420.0,400.0,2170.0,16820.0,1040.0,510.0,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2944,2944,1.158759e+18,NaN,NaN,30.0,650.0,80.0,570.0,5500.0,7200.0,70.0,1.429000e+16,1.111000e+16,1.250000e+02
2945,2945,1.158759e+18,NaN,NaN,70.0,470.0,150.0,800.0,1060.0,1240.0,0.0,2.222000e+16,2.222000e+16,2.222000e+16
2946,2946,1.158760e+18,NaN,NaN,50.0,370.0,120.0,570.0,2200.0,610.0,30.0,3.333000e+15,2.222000e+16,2.667000e+16
2947,2947,1.158762e+18,NaN,NaN,90.0,280.0,80.0,700.0,330.0,0.0,40.0,1.667000e+16,1.111000e+16,1.333000e+16
2948,2948,1.158763e+18,NaN,NaN,30.0,190.0,90.0,680.0,15920.0,5230.0,940.0,2.000000e+02,1.111000e+16,1.429000e+16

In [11]:
df = score_df

df = df.loc[:, ~df.columns.str.contains('^Unnamed')]


#indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)

#df = df.replace(r'\D+', '', regex=True)

#df.replace(np.nan,0)


#df.astype(int)

#df1 = df[indices_to_keep].astype(np.float64)

df

,tweet_id,priority,postCategories_x,positive_sentiment,negative_sentiment,numb_of_questions,tweet_length,userFollowersCount,userFriendsCount,user_list_count,dict_precision,dict_recall,dict_f_measure
0,1.155485e+18,NaN,NaN,20.0,660.0,150.0,990.0,180.0,420.0,0.0,1.111000e+16,1.111000e+16,1.111000e+16
1,1.155487e+18,NaN,NaN,10.0,390.0,520.0,2570.0,77090.0,28140.0,3920.0,0.000000e+00,0.000000e+00,0.000000e+00
2,1.155488e+18,NaN,NaN,20.0,630.0,170.0,980.0,5370.0,14860.0,200.0,0.000000e+00,0.000000e+00,0.000000e+00
3,1.155494e+18,NaN,NaN,40.0,570.0,630.0,2570.0,2950.0,21450.0,20.0,1.000000e+02,1.111000e+16,1.053000e+16
4,1.155495e+18,NaN,NaN,150.0,420.0,400.0,2170.0,16820.0,1040.0,510.0,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2944,1.158759e+18,NaN,NaN,30.0,650.0,80.0,570.0,5500.0,7200.0,70.0,1.429000e+16,1.111000e+16,1.250000e+02
2945,1.158759e+18,NaN,NaN,70.0,470.0,150.0,800.0,1060.0,1240.0,0.0,2.222000e+16,2.222000e+16,2.222000e+16
2946,1.158760e+18,NaN,NaN,50.0,370.0,120.0,570.0,2200.0,610.0,30.0,3.333000e+15,2.222000e+16,2.667000e+16
2947,1.158762e+18,NaN,NaN,90.0,280.0,80.0,700.0,330.0,0.0,40.0,1.667000e+16,1.111000e+16,1.333000e+16
2948,1.158763e+18,NaN,NaN,30.0,190.0,90.0,680.0,15920.0,5230.0,940.0,2.000000e+02,1.111000e+16,1.429000e+16

In [12]:
score_df.to_csv(run + "score_df.csv", index=False)
score_df = pd.read_csv(run +"score_df.csv")

In [13]:
train_df

,Unnamed: 0,tweet_id,priority,postCategories_x,positive_sentiment,negative_sentiment,numb_of_questions,tweet_length,userFollowersCount,userFriendsCount,user_list_count,dict_precision,dict_recall,dict_f_measure
0,0,2.115660e+17,0.75,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2.116544e+17,0.50,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.116813e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2.116856e+17,0.25,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2.118770e+17,0.25,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,938,3.963360e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,939,3.963361e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,940,3.963362e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,941,3.963363e+17,0.25,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,942,3.963364e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#temp
train_df = pd.read_csv(run +"train_df.csv")

In [15]:
score_df.to_csv("score_df.csv", index=False)
train_df.to_csv("train_df.csv", index=False)

In [16]:
# stackoverflow.com/questions/44026832/valueerror-number-of-features-of-the-model-must-match-the-input

In [17]:
# Clean
train_df= clean_dataset_int(train_df)
train_df.head()

,tweet_id,priority,postCategories_x,positive_sentiment,negative_sentiment,numb_of_questions,tweet_length,userFollowersCount,userFriendsCount,user_list_count,dict_precision,dict_recall,dict_f_measure
0,2.115660e+17,0.75,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.116544e+17,0.50,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.116813e+17,0.25,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.116856e+17,0.25,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.118770e+17,0.25,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
# Clean
score_df= clean_dataset_int(score_df)

In [19]:

#score_df.apply(pd.to_numeric, errors='coerce')
#score_df.fillna(0)
#score_df.replace(np.nan,0)

score_df.head()

,tweet_id,priority,postCategories_x,positive_sentiment,negative_sentiment,numb_of_questions,tweet_length,userFollowersCount,userFriendsCount,user_list_count,dict_precision,dict_recall,dict_f_measure
0,1.155485e+18,0.0,0.0,20.0,660.0,150.0,990.0,180.0,420.0,0.0,1.111000e+16,1.111000e+16,1.111000e+16
1,1.155487e+18,0.0,0.0,10.0,390.0,520.0,2570.0,77090.0,28140.0,3920.0,0.000000e+00,0.000000e+00,0.000000e+00
2,1.155488e+18,0.0,0.0,20.0,630.0,170.0,980.0,5370.0,14860.0,200.0,0.000000e+00,0.000000e+00,0.000000e+00
3,1.155494e+18,0.0,0.0,40.0,570.0,630.0,2570.0,2950.0,21450.0,20.0,1.000000e+02,1.111000e+16,1.053000e+16
4,1.155495e+18,0.0,0.0,150.0,420.0,400.0,2170.0,16820.0,1040.0,510.0,0.000000e+00,0.000000e+00,0.000000e+00