In [1]:
run = "before_selection"

#before_selection

In [2]:
import pandas as pd
import seaborn as sns
from igel import Igel
import numpy as np

def clean_dataset(df):
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    df.replace(np.nan,0)
    #df.dropna(inplace=True)
    #df.fillna(0)
    #indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    #df.astype(int)
    return df
    #return df[indices_to_keep].astype(np.float64)

In [3]:
train_df = pd.read_csv("dataset.csv")


score_df = pd.read_csv("selected.csv")



#score_df = clean_dataset(score_df)
#train_df = clean_dataset(train_df)

train_df['label'] = '0' #train
score_df['label'] = '1' #score



train_df

               tweet_id  priority  postCategories_x label
0    211565974422425600      0.75                19     0
1    211654415503990784      0.50                15     0
2    211681309368655872      0.25                15     0
3    211685621125742592      0.25                16     0
4    211877049147736064      0.25                 7     0
..                  ...       ...               ...   ...
938  396336012726525952      0.25                15     0
939  396336079856345088      0.25                15     0
940  396336243442589696      0.25                15     0
941  396336297968562176      0.25                 7     0
942  396336394429562880      0.25                15     0

[943 rows x 4 columns]

## Concat

In [4]:
concat_df = pd.concat([train_df , score_df])

concat_df

,tweet_id,priority,postCategories_x,label,Unnamed: 0,positive_sentiment,negative_sentiment,numb_of_questions,tweet_length,userFollowersCount,userFriendsCount,user_list_count,dict_precision,dict_recall,dict_f_measure
0,2.115660e+17,0.75,19.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.116544e+17,0.50,15.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.116813e+17,0.25,15.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.116856e+17,0.25,16.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.118770e+17,0.25,7.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,1.158746e+18,NaN,NaN,1,276.0,60.0,490.0,100.0,580.0,20.0,160.0,0.0,1.429000e+16,1.111000e+16,1.250000e+02
277,1.158747e+18,NaN,NaN,1,277.0,10.0,600.0,330.0,1400.0,7885590.0,400.0,110010.0,1.000000e+02,1.111000e+16,1.053000e+16
278,1.158753e+18,NaN,NaN,1,278.0,70.0,470.0,150.0,800.0,460.0,50.0,10.0,2.222000e+16,2.222000e+16,2.222000e+16
279,1.158759e+18,NaN,NaN,1,279.0,30.0,650.0,80.0,570.0,5500.0,7200.0,70.0,1.429000e+16,1.111000e+16,1.250000e+02
280,1.158759e+18,NaN,NaN,1,280.0,70.0,470.0,150.0,800.0,1060.0,1240.0,0.0,2.222000e+16,2.222000e+16,2.222000e+16

## Create dummies

In [5]:
#pd.get_dummies

In [6]:
#features_df = pd.get_dummies(data=concat_df, columns=['tweet_id','priority','priority','postCategories_x', 'label',
  #                                               'positive_sentiment', 'negative_sentiment',
    #                                             'numb_of_questions', 'tweet_length', 'userFollowersCount', 'userFriendsCount', 
  # #                                              'user_list_count', 'dict_precision', 'dict_recall', 'dict_f_measure']
     #                                            )

#features_df.transpose()

In [7]:
# Split your data
train_df = concat_df[concat_df['label'] == '0']
score_df = concat_df[concat_df['label'] == '1']

# Drop your labels
train_df = train_df.drop('label', axis=1)
score_df = score_df.drop('label', axis=1)

In [8]:
#train_df.describe()
#score_df.describe()
train_df

,tweet_id,priority,postCategories_x,Unnamed: 0,positive_sentiment,negative_sentiment,numb_of_questions,tweet_length,userFollowersCount,userFriendsCount,user_list_count,dict_precision,dict_recall,dict_f_measure
0,2.115660e+17,0.75,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.116544e+17,0.50,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.116813e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.116856e+17,0.25,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.118770e+17,0.25,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,3.963360e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,3.963361e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,3.963362e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,3.963363e+17,0.25,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,3.963364e+17,0.25,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
score_df.to_csv(run + "score_df.csv", index=True)
train_df.to_csv(run + "train_df.csv", index=True)

In [10]:
#temp
score_df = pd.read_csv(run +"score_df.csv")
train_df = pd.read_csv(run +"train_df.csv")

In [11]:
train_df= clean_dataset(train_df)
score_df= clean_dataset(score_df)

In [15]:
score_df = score_df.loc[:, ~score_df.columns.str.contains('^Unnamed')]
score_df = score_df.replace(np.nan,0)
train_df = train_df.loc[:, ~train_df.columns.str.contains('^Unnamed')]
train_df = train_df.replace(np.nan,0)

In [16]:
score_df

,tweet_id,priority,postCategories_x,positive_sentiment,negative_sentiment,numb_of_questions,tweet_length,userFollowersCount,userFriendsCount,user_list_count,dict_precision,dict_recall,dict_f_measure
0,1.155679e+18,0.0,0.0,20.0,630.0,190.0,1000.0,145000.0,13700.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00
1,1.155712e+18,0.0,0.0,40.0,580.0,150.0,740.0,700.0,7030.0,10.0,0.000000e+00,0.000000e+00,0.000000e+00
2,1.155790e+18,0.0,0.0,70.0,500.0,430.0,2300.0,37260.0,10130.0,7990.0,0.000000e+00,0.000000e+00,0.000000e+00
3,1.155810e+18,0.0,0.0,20.0,630.0,180.0,990.0,679280.0,393110.0,13300.0,0.000000e+00,0.000000e+00,0.000000e+00
4,1.155847e+18,0.0,0.0,60.0,530.0,460.0,2370.0,18320.0,33710.0,190.0,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,1.158746e+18,0.0,0.0,60.0,490.0,100.0,580.0,20.0,160.0,0.0,1.429000e+16,1.111000e+16,1.250000e+02
277,1.158747e+18,0.0,0.0,10.0,600.0,330.0,1400.0,7885590.0,400.0,110010.0,1.000000e+02,1.111000e+16,1.053000e+16
278,1.158753e+18,0.0,0.0,70.0,470.0,150.0,800.0,460.0,50.0,10.0,2.222000e+16,2.222000e+16,2.222000e+16
279,1.158759e+18,0.0,0.0,30.0,650.0,80.0,570.0,5500.0,7200.0,70.0,1.429000e+16,1.111000e+16,1.250000e+02
280,1.158759e+18,0.0,0.0,70.0,470.0,150.0,800.0,1060.0,1240.0,0.0,2.222000e+16,2.222000e+16,2.222000e+16

In [17]:
train_df

,tweet_id,priority,postCategories_x,positive_sentiment,negative_sentiment,numb_of_questions,tweet_length,userFollowersCount,userFriendsCount,user_list_count,dict_precision,dict_recall,dict_f_measure
0,2.115660e+17,0.75,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.116544e+17,0.50,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.116813e+17,0.25,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.116856e+17,0.25,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.118770e+17,0.25,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,3.963360e+17,0.25,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
939,3.963361e+17,0.25,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,3.963362e+17,0.25,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,3.963363e+17,0.25,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,3.963364e+17,0.25,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
score_df.to_csv("score_df.csv", index=True)
train_df.to_csv("train_df.csv", index=True)