In [1]:
import pandas as pd
import numpy as np

In [2]:
run = "before_selection" # before_selection

# Merge

This notebook merges the information types, topics and ground truth set.

Outputs:
- `df_int.csv`
- `df_char.csv`

In [3]:
def clean_dataset_char(df):
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    #df.dropna(inplace=True)
    return df


def clean_dataset_int(df):
    #df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    #    df.round()
    df.replace(np.nan,0)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    df.astype(int)
    df = df.replace(r'\D+', '', regex=True)
    return df[indices_to_keep].astype(np.float64)

In [4]:
# Labelled Tweets

# Output of Load Dataset
dataset_labelled = pd.read_csv("dataset_labelled_tweets.csv")
dataset_labelled['category'] = dataset_labelled['category'].str.lower()
dataset_labelled.head()

,tweet_id,priority,category,postCategories_x,eventID,eventType
0,1128285482784366592,0.75,location,12,papuaNewguineaEarthquake2020,Unknown
1,1128285482784366592,0.75,factoid,12,papuaNewguineaEarthquake2020,Unknown
2,1128285665186197504,0.25,location,12,papuaNewguineaEarthquake2020,Unknown
3,1128285665186197504,0.25,factoid,12,papuaNewguineaEarthquake2020,Unknown
4,1128285665186197504,0.25,hashtags,12,papuaNewguineaEarthquake2020,Unknown

In [5]:
# Reload the data to check everythings went alright
df = pd.read_csv('../../' + run + '.txt', sep=" ", header=None)


# Timestamp will need to be reconfigured as index on each load
#df = df.set_index('timestamp')
df.apply(lambda col:pd.to_numeric(col, errors='coerce'))

#df = clean_dataset_int(df)
#df = np.array(df, dtype=float)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,"[1.565105509E12,","1.15876260841501082E18,","3.0,","19.0,","0.0,","0.0,","0.0,","0.0,","0.0,","0.0,",...,"0.0,","68.0,","1592.0,","523.0,","0.0,","94.0,","0.0,","20.0,","11.109999656677246,",14.289999961853027]
1,"[1.565105286E12,","1.15876167494759629E18,","9.0,","28.0,","0.0,","0.0,","0.0,","0.0,","0.0,","0.0,",...,"0.0,","70.0,","33.0,","0.0,","0.0,","4.0,","0.0,","16.670000076293945,","11.109999656677246,",13.329999923706055]
2,"[1.565104871E12,","1.15875993376617677E18,","5.0,","37.0,","0.0,","0.0,","0.0,","0.0,","0.0,","0.0,",...,"0.0,","57.0,","220.0,","61.0,","0.0,","3.0,","0.0,","33.33000183105469,","22.219999313354492,",26.670000076293945]
3,"[1.565104726E12,","1.15875932609122714E18,","7.0,","47.0,","0.0,","0.0,","0.0,","0.0,","0.0,","0.0,",...,"0.0,","80.0,","106.0,","124.0,","0.0,","0.0,","0.0,","22.219999313354492,","22.219999313354492,",22.219999313354492]
4,"[1.565104678E12,","1.1587591256033239E18,","3.0,","65.0,","0.0,","0.0,","0.0,","0.0,","0.0,","0.0,",...,"0.0,","57.0,","550.0,","720.0,","0.0,","7.0,","0.0,","14.289999961853027,","11.109999656677246,",12.5]

In [6]:
from functools import reduce
dfs = [dataset_labelled, df]
df_final = reduce(lambda left,right: pd.merge(left,right,on='tweet_id'), dfs)
df_final

KeyError: 'tweet_id'

## Mapping

In [ ]:
#TODO: Incomplete, matching correctly but not merging fully

## df_t['matchedName'] = df_i['id'].apply(lambda x: [item for item in x if item in df_t['category'].tolist()])
df_t

In [ ]:
# map eventID -> numeric value

In [ ]:
dataset_labelled_char = clean_dataset_char(dataset_labelled)
dataset_labelled_char.head()

In [ ]:
#df_char['matchedName'] = [str(x) for x in df_char['matchedName']]
#df_char['informationType'] = df_char['matchedName'].apply(lambda x: ','.join(map(str, x)))
#df_char['matchedName'] = df_char['matchedName'].str[:-1]

In [ ]:
#df.sort_values(by=['label_id'])
df_int = clean_dataset_int(dataset_labelled_char)
df_int

In [ ]:
df_int.to_csv("df_int.csv", index=False)

In [ ]:
df_char.to_csv("df_char.csv", index=False)
df_char

In [ ]:
before_selection = pd.read_csv("before_selection.csv")
before_selection

In [ ]:
# Ground truth set
selected = pd.read_csv("selected.csv")
selected

In [ ]:
merged_df = pd.merge(before_selection, df_int, left_on = 'tweet_id', right_on = 'tweet_id', how = 'inner')

merged_df