In [1]:
import pandas as pd
import numpy as np

# Merge

This notebook merges the information types, topics and ground truth set.

Outputs:
- `df_int.csv`
- `df_char.csv`

In [2]:
def clean_dataset_char(df):
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    #df.dropna(inplace=True)
    return df


def clean_dataset_int(df):
    df = df_t.drop(['category','matchedName','eventType','eventID'],axis =1)
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    #    df.round()
    df.replace(np.nan,0)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    df.astype(int)
    df = df.replace(r'\D+', '', regex=True)
    return df[indices_to_keep].astype(np.float64)

In [3]:
# Labelled Tweets

# Output of Load Dataset
dataset_labelled = pd.read_csv("dataset_labelled_tweets.csv")
dataset_labelled['category'] = dataset_labelled['category'].str.lower()
dataset_labelled.head()

,tweet_id,priority,category,postCategories_x,eventID,eventType
0,1128285482784366592,0.75,location,13,papuaNewguineaEarthquake2020,Unknown
1,1128285482784366592,0.75,factoid,13,papuaNewguineaEarthquake2020,Unknown
2,1128285665186197504,0.25,location,13,papuaNewguineaEarthquake2020,Unknown
3,1128285665186197504,0.25,factoid,13,papuaNewguineaEarthquake2020,Unknown
4,1128285665186197504,0.25,hashtags,13,papuaNewguineaEarthquake2020,Unknown

In [21]:
# Reload the data to check everythings went alright
df = pd.read_csv("feature_vec.csv")

# Timestamp will need to be reconfigured as index on each load
#df = df.set_index('timestamp')
df.apply(lambda col:pd.to_numeric(col, errors='coerce'))

df = np.array(df, dtype=float)

df.head()

ValueError: could not convert string to float: '1.15548485241168691E18,'

In [13]:
from functools import reduce
dfs = [dataset_labelled, df]
df_final = reduce(lambda left,right: pd.merge(left,right,on='tweet_id'), dfs)
df_final

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

## Mapping

In [5]:
#TODO: Incomplete, matching correctly but not merging fully

## df_t['matchedName'] = df_i['id'].apply(lambda x: [item for item in x if item in df_t['category'].tolist()])
df_t

In [6]:
# map eventID -> numeric value

In [7]:
dataset_labelled_char = clean_dataset_char(dataset_labelled)
dataset_labelled_char.head()

,tweet_id,priority,category,postCategories_x,eventID,eventType
0,1128285482784366592,0.75,location,13,papuaNewguineaEarthquake2020,Unknown
1,1128285482784366592,0.75,factoid,13,papuaNewguineaEarthquake2020,Unknown
2,1128285665186197504,0.25,location,13,papuaNewguineaEarthquake2020,Unknown
3,1128285665186197504,0.25,factoid,13,papuaNewguineaEarthquake2020,Unknown
4,1128285665186197504,0.25,hashtags,13,papuaNewguineaEarthquake2020,Unknown

In [8]:
#df_char['matchedName'] = [str(x) for x in df_char['matchedName']]
#df_char['informationType'] = df_char['matchedName'].apply(lambda x: ','.join(map(str, x)))
#df_char['matchedName'] = df_char['matchedName'].str[:-1]

In [9]:
#df.sort_values(by=['label_id'])
df_int = clean_dataset_int(dataset_labelled_char)
df_int

NameError: name 'df_t' is not defined

In [ ]:
df_int.to_csv("df_int.csv", index=False)

In [ ]:
df_char.to_csv("df_char.csv", index=False)
df_char

In [ ]:
before_selection = pd.read_csv("before_selection.csv")
before_selection

In [ ]:
# Ground truth set
selected = pd.read_csv("selected.csv")
selected

In [ ]:
merged_df = pd.merge(before_selection, df_int, left_on = 'tweet_id', right_on = 'tweet_id', how = 'inner')

merged_df