In [2]:
import numpy as np
import re
import requests
import pandas as pd

In [3]:


url = 'http://localhost:9000/stored_tweets'
data = requests.get(url).json()

print(data)

{'fileName': 'data\\test-tweets\\smol\\10.jsonl', 'tweets': [{'tweet_id': 1133705772246786049, 'tweet_text': 'Waking to smoky sunrise in Calgary today   eery, but beautiful yycweather sunrise abfire ', 'features': {'numb_of_urls': None, 'numb_of_hashtags': 3.0, 'numb_of_personal_pronouns': 0.0, 'numb_of_present_tenses': 0.0, 'weighted_length': 115.0, 'permillage': 410.0, 'tweet_created_at': 1559131493000.0, 'tweet_id_str': 1.133705772246786e+18, 'positive_sentiment': 0.0, 'negative_sentiment': 0.0, 'numb_of_mentions': 0.0, 'numb_of_media': 1.0, 'numb_of_past_tenses': 0.0, 'numb_of_weird_chars': 16.0, 'numb_of_questions': 0.0, 'numb_of_emoticons': 0.0, 'numb_of_swearing_word': 0.0, 'numb_of_slang_words': 0.0, 'numb_of_intensifiers': 0.0, 'tweet_length': 89.0, 'userFollowersCount': 15.0, 'userFriendsCount': 81.0, 'user_numb_of_tweets': 0.0, 'user_list_count': 0.0, 'dict_precision': 0.0, 'dict_recall': 0.0, 'dict_f_measure': 0.0, 'offset': 0.0, 'is_verified': 0.0}, 'sentiment': 'Type = dense , numRows = 25 , numCols = 1\r,-0,201  \r, 0,060  \r, 0,115  \r,-0,109  \r, 0,032  \r, 0,016  \r, 0,008  \r,-0,231  \r, 0,089  \r,-0,027  \r,-0,106  \r, 0,037  \r,-0,054  \r,-0,008  \r, 0,056  \r, 0,059  \r,-0,044  \r, 0,040  \r,-0,075  \r,-0,025  \r, 0,123  \r, 0,031  \r,-0,029  \r, 0,021  \r,-0,055  \r,', 'embeddings': '{1.7785985,3.1451268,-5.3303847,0.53038704,3.8427823,-2.587076,-5.077908,0.515931,-0.96028394,1.315377,-0.48424906,-4.395114,0.48587003,0.4648,1.71806,2.9847395,-0.88456607,2.154414,-7.955323,-2.07612,0.93577504,7.25449,0.64885795,0.54087293,2.820752,-8.263767,-2.6968079,6.376734,4.811946,-2.188677,23.835411,1.9217697,-1.358335,-3.0902748,-0.40446,-2.4952362,0.450176,-1.483361,3.6228821,0.669848,-2.7129738,0.13766381,-2.03385,-0.59648,-2.563134,3.8937702,0.37940502,-5.230379,-0.48351637,0.18215394,}'}, {'tweet_id': 1134018172309295104, 'tweet_text': 'BREAKING  Hundreds of evacuees in Calling Lake after mandatory evacuation called in Wabasca abfire Alberta ', 'features': {'numb_of_urls': None, 'numb_of_hashtags': 2.0, 'numb_of_personal_pronouns': 0.0, 'numb_of_present_tenses': 0.0, 'weighted_length': 133.0, 'permillage': 475.0, 'tweet_created_at': 1559205975000.0, 'tweet_id_str': 1.1340181723092951e+18, 'positive_sentiment': 0.0, 'negative_sentiment': 0.0, 'numb_of_mentions': 0.0, 'numb_of_media': 0.0, 'numb_of_past_tenses': 0.0, 'numb_of_weird_chars': 16.0, 'numb_of_questions': 0.0, 'numb_of_emoticons': 0.0, 'numb_of_swearing_word': 0.0, 'numb_of_slang_words': 0.0, 'numb_of_intensifiers': 0.0, 'tweet_length': 107.0, 'userFollowersCount': 865.0, 'userFriendsCount': 50.0, 'user_numb_of_tweets': 0.0, 'user_list_count': 30.0, 'dict_precision': 0.0, 'dict_recall': 0.0, 'dict_f_measure': 0.0, 'offset': 0.0, 'is_verified': 0.0}, 'sentiment': 'Type = dense , numRows = 25 , numCols = 1\r,-0,210  \r, 0,070  \r, 0,208  \r,-0,064  \r, 0,050  \r,-0,012  \r, 0,091  \r,-0,466  \r, 0,099  \r, 0,050  \r,-0,202  \r,-0,114  \r,-0,024  \r, 0,172  \r, 0,169  \r,-0,008  \r,-0,085  \r,-0,011  \r,-0,065  \r, 0,148  \r, 0,411  \r, 0,043  \r,-0,164  \r,-0,080  \r,-0,103  \r,', 'embeddings': '{4.7370405,2.1589317,-2.065543,-3.1837502,-3.8683202,0.47769997,-6.617863,3.462947,3.8819861,-3.5452929,-1.3181751,-6.2461634,3.562616,-2.255658,3.2288997,-0.015841484,1.6534369,-1.1792419,-6.28731,-0.661687,2.9251008,-0.839483,-0.8974989,-1.0560035,-2.4011703,-16.306622,1.014423,1.453604,1.0777481,0.011100113,32.88579,0.25475445,-4.4075875,-4.7250967,0.11590999,1.5613207,3.4752338,-2.5938466,1.848464,3.0336828,-5.678509,2.1835423,2.3010478,-1.2485831,-2.7621722,1.2965181,-5.134682,-2.6551764,-2.0404568,-4.251936,}'}, {'tweet_id': 1131561862343086081, 'tweet_text': 'High Level wildfire crews fight fire with fire to protect Alberta town ', 'features': {'numb_of_urls': None, 'numb_of_hashtags': 0.0, 'numb_of_personal_pronouns': 0.0, 'numb_of_present_tenses': 0.0, 'weighted_length': 94.0, 'permillage': 335.0, 'tweet_created_at': 1558620346000.0, 'tweet_id_str': 1.1315618623430861e+18, 'positive_sentiment': 0.0, 'negative_sentiment': 0.0, 'numb_of_mentions': 0.0, 'numb_of_media': 0.0, 'numb_of_past_tenses': 0.0, 'numb_of_weird_chars': 12.0, 'numb_of_questions': 0.0, 'numb_of_emoticons': 0.0, 'numb_of_swearing_word': 0.0, 'numb_of_slang_words': 0.0, 'numb_of_intensifiers': 0.0, 'tweet_length': 71.0, 'userFollowersCount': 1295.0, 'userFriendsCount': 1348.0, 'user_numb_of_tweets': 0.0, 'user_list_count': 57.0, 'dict_precision': 0.0, 'dict_recall': 0.0, 'dict_f_measure': 0.0, 'offset': 0.0, 'is_verified': 1.0}, 'sentiment': 'Type = dense , numRows = 25 , numCols = 1\r,-0,180  \r, 0,018  \r, 0,139  \r,-0,087  \r,-0,004  \r, 0,086  \r, 0,100  \r,-0,231  \r, 0,067  \r, 0,126  \r,-0,194  \r,-0,037  \r,-0,066  \r, 0,095  \r,-0,071  \r,-0,026  \r,-0,026  \r, 0,081  \r,-0,015  \r, 0,054  \r, 0,172  \r, 0,031  \r,-0,023  \r,-0,054  \r, 0,029  \r,', 'embeddings': '{2.97405,-0.41674098,1.8703463,-2.558454,-1.5693818,-0.615715,-5.20854,1.8524354,2.39962,-5.125714,-0.71011895,-5.578645,-0.4592833,-2.8648381,-1.592996,1.035956,3.290257,3.5242133,-8.679389,-3.8859525,0.1470001,2.7538762,-0.79307103,-1.2947989,-2.114899,-16.14021,1.9168301,1.6584423,5.224292,-0.50903004,33.581413,1.5005536,-4.6119843,-7.2067556,0.682883,4.3999195,-0.11548993,-3.9352207,4.320335,-0.14598578,-3.7672048,0.16428995,2.4351277,-1.8204299,1.3995962,1.908064,-1.961153,-3.1902032,0.07204503,-2.7900722,}'}]}

In [4]:
df = pd.DataFrame(data)

df = pd.json_normalize(df['tweets'])
df

,tweet_id,tweet_text,sentiment,embeddings,features.numb_of_urls,features.numb_of_hashtags,features.numb_of_personal_pronouns,features.numb_of_present_tenses,features.weighted_length,features.permillage,...,features.tweet_length,features.userFollowersCount,features.userFriendsCount,features.user_numb_of_tweets,features.user_list_count,features.dict_precision,features.dict_recall,features.dict_f_measure,features.offset,features.is_verified
0,1133705772246786049,Waking to smoky sunrise in Calgary today eer...,"Type = dense , numRows = 25 , numCols = 1\r,-0...","{1.7785985,3.1451268,-5.3303847,0.53038704,3.8...",None,3.0,0.0,0.0,115.0,410.0,...,89.0,15.0,81.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1134018172309295104,BREAKING Hundreds of evacuees in Calling Lake...,"Type = dense , numRows = 25 , numCols = 1\r,-0...","{4.7370405,2.1589317,-2.065543,-3.1837502,-3.8...",None,2.0,0.0,0.0,133.0,475.0,...,107.0,865.0,50.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0
2,1131561862343086081,High Level wildfire crews fight fire with fire...,"Type = dense , numRows = 25 , numCols = 1\r,-0...","{2.97405,-0.41674098,1.8703463,-2.558454,-1.56...",None,0.0,0.0,0.0,94.0,335.0,...,71.0,1295.0,1348.0,0.0,57.0,0.0,0.0,0.0,0.0,1.0

In [5]:
#df = pd.concat([df['embeddings'], df[1].str.split(', ', expand=True)], axis=1)

df['sentiment'] = df[df['sentiment'].apply(lambda x:pd.Series(x))]

In [6]:
#df['embeddings'] = df['embeddings'].str.extract('(\d+)', expand=False)
df['embeddings'] = df['embeddings'].str[1:]
df_embeddings = pd.concat([df['embeddings'].str.split(',', expand=True)], axis=1, keys="e")

df.join(df_embeddings)

/Users/mark/opt/anaconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:648: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

,tweet_id,tweet_text,sentiment,embeddings,features.numb_of_urls,features.numb_of_hashtags,features.numb_of_personal_pronouns,features.numb_of_present_tenses,features.weighted_length,features.permillage,...,"(e, 41)","(e, 42)","(e, 43)","(e, 44)","(e, 45)","(e, 46)","(e, 47)","(e, 48)","(e, 49)","(e, 50)"
0,1133705772246786049,Waking to smoky sunrise in Calgary today eer...,NaN,"1.7785985,3.1451268,-5.3303847,0.53038704,3.84...",None,3.0,0.0,0.0,115.0,410.0,...,0.13766381,-2.03385,-0.59648,-2.563134,3.8937702,0.37940502,-5.230379,-0.48351637,0.18215394,}
1,1134018172309295104,BREAKING Hundreds of evacuees in Calling Lake...,NaN,"4.7370405,2.1589317,-2.065543,-3.1837502,-3.86...",None,2.0,0.0,0.0,133.0,475.0,...,2.1835423,2.3010478,-1.2485831,-2.7621722,1.2965181,-5.134682,-2.6551764,-2.0404568,-4.251936,}
2,1131561862343086081,High Level wildfire crews fight fire with fire...,NaN,"2.97405,-0.41674098,1.8703463,-2.558454,-1.569...",None,0.0,0.0,0.0,94.0,335.0,...,0.16428995,2.4351277,-1.8204299,1.3995962,1.908064,-1.961153,-3.1902032,0.07204503,-2.7900722,}

In [7]:
cols = ['Embeddings']
df = pd.concat([df['embeddings'].str.split(',', expand=True) for x in cols], axis=1, keys=df.columns)
df.columns = df.columns.map(lambda x: '_'.join((x[0], str(x[1]))))
#df = df.replace({'':np.nan, None:np.nan})
df2 = pd.concat([df1, df.drop(cols, axis=1)],axis=1)
print (df2)
print (df)

NameError: name 'df1' is not defined

In [97]:
df

,tweet_id_0,tweet_id_1,tweet_id_2,tweet_id_3,tweet_id_4,tweet_id_5,tweet_id_6,tweet_id_7,tweet_id_8,tweet_id_9,...,tweet_id_41,tweet_id_42,tweet_id_43,tweet_id_44,tweet_id_45,tweet_id_46,tweet_id_47,tweet_id_48,tweet_id_49,tweet_id_50
0,{1.7785985,3.1451268,-5.3303847,0.53038704,3.8427823,-2.587076,-5.077908,0.515931,-0.96028394,1.315377,...,0.13766381,-2.03385,-0.59648,-2.563134,3.8937702,0.37940502,-5.230379,-0.48351637,0.18215394,}
1,{4.7370405,2.1589317,-2.065543,-3.1837502,-3.8683202,0.47769997,-6.617863,3.462947,3.8819861,-3.5452929,...,2.1835423,2.3010478,-1.2485831,-2.7621722,1.2965181,-5.134682,-2.6551764,-2.0404568,-4.251936,}
2,{2.97405,-0.41674098,1.8703463,-2.558454,-1.5693818,-0.615715,-5.20854,1.8524354,2.39962,-5.125714,...,0.16428995,2.4351277,-1.8204299,1.3995962,1.908064,-1.961153,-3.1902032,0.07204503,-2.7900722,}